.App {
  font-family: sans-serif;
  text-align: center;
}
.container {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: aqua; */
}
.top_header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  white-space: nowrap;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.top_header .logo,
.top_header .search,
.top_header .link {
  display: inline-block;
  vertical-align: middle;
}
.top_header .logo {
  float: left;
  width: 103px;
}
.top_header .logo img {
  padding: 16px 0 0 0;
  max-width: 100%;
}
.top_header .link {
  float: right;
}
.top_header .search {
  padding: 16px 0;
}
.top_header .search input {
  width: 240px;
  line-height: 1.6rem;
  border-radius: 2px;
  border: 1px solid #ccc;
  --webkit-appearance: none;
}
.top_header .link {
  display: inline-block;
}
.top_header .link .btn {
  width: 40px;
  height: 40px;
  margin-right: 4px;
  border: none;
  background: none;
  outline: none;
}
